################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeekBurger.Dashboard/obj
/.vs/GeekBurger.Dashboard/v15/Server/sqlite3
